/*About-the-team*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}

.aboutTheTeam{
    background-color: #00BFCE;
    color: #F1F9EE;
}
.aboutTheTeam .row div{
    vertical-align: middle;
    height:fit-content;
    
}

.aboutTheTeam-titulo {
    background-color: #00BFCE;
    height: 150px;
    font-size: 48px;
    font-weight: bold;
}

.row-title {
    font-size: 48px;
}
.row-bio{
    font-size: 32px;
}